h1 {
  font-size: 40px;
  font-weight: 800px;
  line-height: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-size-adjust: 100%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.vanilla-wrap {
  max-width: 600px;
  margin: 0px auto;
}
.vanilla-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.enterCity .search {
  margin-top: 20px;
  text-size-adjust: 100%;
}
.flexbox {
  display: flex;
}
.weather-temp img {
  height: 94px;
  width: 94px;
}
.weather-temp strong {
  color: rgb(33, 33, 33);
  font-size: 74px;
  line-height: 1;
  font-weight: 400px;
}
.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: 9px;
}
